.section {
    background-color: transparent !important;
}

.video_text_bg {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video_text {
    z-index: 999;
    display: flex;
    position: absolute;
    flex-direction: column;
    /* align-content: flex-start; */
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60%;
    /* height: 60%; */
    aspect-ratio: 38 / 29;
    color: #fff;
    text-align: left;
    padding: 0 calc(40px + 4vw);
    max-height: 90%;
    max-width: 1000px;
}

.video_text h1 {
    text-align: left;
    font-size: calc(40px + 3vw);
    line-height: 1.25;
    letter-spacing: 2px;
    font-weight: 900;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
}

.video_text h5 {
    color: #fff;
    font-size: calc(20px + 1vw);
    line-height: 1;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1em;
}

.video_text a {
    width: calc(200px + 2vw);
    border-radius: calc(50px + 0.55vw);
    padding: 15px 0;
    text-align: center;
    line-height: 1;
    height: auto;
    font-size: calc(16px + 0.5vw);
    border: none;
    color: #fff;
    margin: 1em 0;
    z-index: 9;
}

.video_text p {
    width: 100%;
    font-size: calc(16px + 0.5vw);
    line-height: 1.25;
}

.fp-watermark {
    display: none !important;
}

.section_0 .video_text {
    background-image: url("../../public/dream-text.png");
    right: 0;
    margin-right: -40px;
}

.section_1 .video_text {
    background-image: url("../../public/relax-text.png");
    left: 0;
    margin-left: -40px;
}

.section_2 .video_text {
    background-image: url("../../public/vital-text.png");
    right: 0;
    margin-right: -40px;
}

.section_0 .video_text a {
    background-color: #B4D6BE;
}

.section_1 .video_text a {
    background-color: #CFA4D2;
}

.section_2 .video_text a {
    background-color: #FFC187;
}